@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Lobster&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@400;500&family=Raleway&family=Roboto:wght@400;500&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eaebeb;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    height: 100vh;
}

.main-container{
    width: 85%;
    margin: 0 auto;
}



.nav-main{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px 40px;
    line-height: 20px;
    border-bottom: 4px ridge black;
    gap: 40px;
}

.nav-active{
    font-weight: 700;
}

.nav-item > a:hover:not(.nav-active) {
    color: #009879;
    cursor: pointer;
}


.bio{
    display: flex;
    padding: 12px;
    border: 3px solid #009879;
    gap: 10%;
    border-radius: 50% 10%;
}

.img-avatar > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
    border: 5px solid #009879;
}

.about-me h1{
    color:#009879;
    font-size: 28px;
}

.about-me > p{
    width: 80%;
}





.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}



.skills{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0 0;
}

.career-path{
    width: 50%;
}



footer > p{
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
    color: #009879;
    border-top: 1px dashed black;
}




@media screen and (max-width: 1000px) {
    .skills {
        flex-direction: column;
    }
  }




